# Defines the Chromium style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium

# Put escaped newlines into the rightmost column.
AlignEscapedNewlinesLeft: false
